Back-hakaton/media/
Back-hakaton/Detecting_defects_laptops/__pycache__/
Back-hakaton/detecting_defects_laptops_soft/__pycache__/
Back-hakaton/reports
mlp/__pycache__/
Back-hakaton/detecting_defects_laptops_soft/migrations/__pycache__
