


Django
djangorestframework
django-cors-headers
docx
python-docx 

torch==2.4.1
torchvision==0.19.1
ultralytics==8.3.11
opencv-python==4.10.0.84
matplotlib==3.4.3
tensorboard==2.18.0
numpy==1.26.4
tqdm==4.66.5
scikit-learn==1.5.2
pyyaml==6.0.2
Pillow==10.4.0
reportlab==4.2.5

